*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    height: 100%;
}

#header {
    height: 10vh;
    background-color: black;
}

#header h2 {
    color: white;
}

#btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 1rem;
    border-radius: .5rem;
    margin-top: 2rem;
    padding: 1rem;
    cursor: pointer;
}

ul {
    border: 1px solid black;
}

.book-item {
    width: 7.5rem;
    background-color: antiquewhite;
    padding: 1rem;
    text-align: center;
}

#book-list {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-columns: repeat(auto auto);
}

.book-item button {
    font-size: 1rem;
    padding: 0;
    margin: 5px;
}

button:hover {
    color: white;
    background-color: black;
}

footer {
    height: 5vh;
    background-color: whitesmoke;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

li {
    list-style-type: none;
    margin-right: 1rem;
}
